# ./tmux/plugins/

# Ignoriere alles
*

# Erlaube den Ordner src und seinen Inhalt
!nvim/
nvim/**

!wezterm/
wezterm/**

!tmux/tmux.conf

!ideavim/ideavimrc

# Optional: Erlaube die .gitignore Datei selbst
!.gitignore
